In [32]:
import sys
from utils import NotebookFinder
sys.meta_path.append(NotebookFinder())

import os
import pandas as pd
from LogisticRegression import LogisticRegression
from ClassificationEvaluator import ClassificationEvaluator

from IPython.display import display, Markdown

import warnings
warnings.filterwarnings('ignore')

data_directory='../datasets/preprocessed'

In [35]:
# Data loading
frames={}
for filename in os.listdir(data_directory):
    display(Markdown(f'### {filename} data'))
    data=pd.read_csv(f"{data_directory}/{filename}")
    display(data.head(3))
    frames[filename.split('.')[0]]=data

### adult_test_x.csv data

,sex,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Germany,native-country_India,native-country_Italy,native-country_Jamaica,native-country_Mexico,native-country_Philippines,native-country_Puerto-Rico,native-country_South,native-country_United-States,native-country_other
0,1.0,-0.270868,2.119978,-2.794111,-0.144476,-0.218045,-0.412165,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.541866,0.490042,-0.053759,0.762810,-0.218045,-0.080182,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,-0.044276,1.200959,1.120678,-0.144476,-0.218045,-0.080182,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### adult_test_y.csv data

   target
0       0
1       0
2       1

### adult_train_x.csv data

,sex,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Germany,native-country_India,native-country_Italy,native-country_Jamaica,native-country_Mexico,native-country_Philippines,native-country_Puerto-Rico,native-country_South,native-country_United-States,native-country_other
0,1.0,-0.572990,-1.324760,-0.053759,-0.144476,-0.218045,-0.080182,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.843988,-0.754148,-0.445238,-0.144476,-0.218045,-0.246173,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,1.239743,0.979985,-0.053759,-0.144476,-0.218045,-0.080182,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### adult_train_y.csv data

   target
0       0
1       0
2       0

### credit_test_x.csv data

,own_telephone,foreign_worker,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status_0<=X<200,...,other_payment_plans_bank,other_payment_plans_none,other_payment_plans_stores,housing_for_free,housing_own,housing_rent,credit_history0_high_qualif/self_emp/mgmt,credit_history0_skilled,credit_history0_unemp/unskilled_non_res,credit_history0_unskilled_resident
0,0.0,1.0,-0.472573,-0.606520,0.931524,1.005861,-0.169856,-0.714213,2.302720,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,-0.983156,-0.056713,-1.741854,-0.831887,-0.256106,1.059495,2.302720,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,-1.238447,-0.839229,-1.741854,0.086987,0.261396,1.059495,-0.434269,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

### credit_test_y.csv data

   target
0       0
1       0
2       0

### credit_train_x.csv data

,own_telephone,foreign_worker,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status_0<=X<200,...,other_payment_plans_bank,other_payment_plans_none,other_payment_plans_stores,housing_for_free,housing_own,housing_rent,credit_history0_high_qualif/self_emp/mgmt,credit_history0_skilled,credit_history0_unemp/unskilled_non_res,credit_history0_unskilled_resident
0,1.0,1.0,-0.983156,-0.478658,0.931524,0.086987,-0.083605,-0.714213,-0.434269,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,1.0,-0.727864,-0.815849,0.931524,1.005861,-1.118610,1.059495,-0.434269,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1.0,1.0,-0.472573,-0.218550,-0.850728,1.005861,-0.687358,1.059495,-0.434269,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

### credit_train_y.csv data

   target
0       0
1       0
2       1

### sick_test_x.csv data

,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,query_hyperthyroid,lithium,...,T4U,FTI,referral_source_STMW,referral_source_SVHC,referral_source_SVHD,referral_source_SVI,referral_source_other,sex_F,sex_M,sex_Unknown
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.443357,-0.538582,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.709692,-0.247629,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.230289,0.883856,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

### sick_test_y.csv data

   target
0       0
1       0
2       0

### sick_train_x.csv data

,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,query_hyperthyroid,lithium,...,T4U,FTI,referral_source_STMW,referral_source_SVHC,referral_source_SVHD,referral_source_SVI,referral_source_other,sex_F,sex_M,sex_Unknown
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.101386,-1.185145,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.070488,-0.085988,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.816226,1.756716,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

### sick_train_y.csv data

   target
0       0
1       0
2       0

### titanic_test_x.csv data

,sex,embarked,pclass,age,sibsp,parch,fare,boat,cabin_A,cabin_B,...,home.dest_MI,home.dest_MN,home.dest_NJ,home.dest_NY,home.dest_OH,home.dest_ON,home.dest_PA,home.dest_PQ,home.dest_Unknown,home.dest_other
0,1.0,0.0,0.862142,-0.479637,-0.47687,-0.459255,-0.500859,-0.773123,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,1.0,0.862142,-0.062029,-0.47687,-0.459255,-0.491248,-0.773123,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,2.0,-1.513592,-0.062029,-0.47687,-0.459255,0.325378,-0.773123,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### titanic_test_y.csv data

   target
0       0
1       0
2       0

### titanic_train_x.csv data

,sex,embarked,pclass,age,sibsp,parch,fare,boat,cabin_A,cabin_B,...,home.dest_MI,home.dest_MN,home.dest_NJ,home.dest_NY,home.dest_OH,home.dest_ON,home.dest_PA,home.dest_PQ,home.dest_Unknown,home.dest_other
0,1.0,2.0,-1.513592,-0.062029,-0.47687,-0.459255,0.288469,-0.773123,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,-1.513592,-0.669459,-0.47687,0.742156,0.498470,1.293454,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,2.0,0.862142,-0.289815,-0.47687,-0.459255,-0.485711,-0.773123,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### titanic_train_y.csv data

   target
0       0
1       1
2       0